@media (max-width:1150px) {
    h1 {
        font-size: 75px;
    }

    .design__information {
        padding: 85px 20px;
        gap: 10px;
    }

    .swiper-slide {
        width: 100px;
    }

}

    /* .ourteam-img {
        max-width: 100%;
    }
} */

@media (max-width:1055px) {
    .header__img {
        width: 370px;
    }

    .header__numbers {
        padding: 20px 20px 0 20px ;
    }

    .about__info {
        gap: 30px;
    }
    
    .about__ico-2 {
        right: -40px;
    }

    .about__img {
        max-width: 500px;
    }

    .about__numbers {
        bottom: 30px;
        right: 30%;
    }

    .design__info {
        flex-wrap: wrap;
    justify-content: space-around;
    }

    .contacts__item {
        flex-direction: column;
        gap: 30px;
    }

    .contacts__text {
        max-width: 100%;
    }

    .contacts__bg {
        width: 150%;
    }

    .update__info {
        column-gap: 80px;
        grid-template-columns: 1fr 1fr;
    }

    .footer__information {
        padding: 70px 70px 20px;
    }

}

@media (max-width:900px) {
    .header__top {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .header__text {
        max-width: 700px;
    }


    .header__img {
        width: 100%;
    }

    .header__right-top {
        flex-direction: column;
    }

    .header__numbers {
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 70px;
    }

    .header__number-item {
          max-width: 90px;
        }

    .ico3 {
        top: auto;
        bottom: -70px;
        left: 35%;
    }

    .brands {
        gap: 40px;
    }

    .about__info {
        flex-direction: column;
        align-items: center;
        padding: 0 20px 50px;
    }

    .about__img {
        max-width: 100%;
    }


    .about__numbers {
        margin-top: 30px;
        position: static;
        width: 100%;
        justify-content: center;
        padding: 25px;
    }

    .design__info {
        gap: 30px;
        flex-direction: column;
    }

    .design__item {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

    .design__item-block {
        max-width: 300px;
    }

    .design__title {
        text-align: left;
        font-size: 42px;
        padding-left: 50px;
    }

    .ourteam-img {
        width: 270px;
    }

    .portfolio__title {
        flex-direction: column;
        align-items: normal;
        margin-left: 50px;
        gap: 50px;
    }

    .portfolio__img {
        opacity: 40%;
        z-index: -1;
    }

    .portfolio__link-item {
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer__information {
        padding: 70px 50px;
    }

    .footer__left {
        max-width: 300px;
    }


}

@media (max-width:700px) {

    .design__information {
        padding-bottom: 30px;
    }

    .portfolio__information {
        margin-top: 70px;
    }

    .ourteam__information {
        margin-top: 70px;
    }

    .mySwiper {
        margin-top: 20px;
    }

    

    .contacts__information {
        margin: 260px 0 0;
    }

    .footer__information {
        padding-bottom: 20px;
    }

    .footer__info {
        flex-direction: column;
        gap: 50px;
    }

    .footer__left {
        max-width: 100%;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 10px;
        margin-top: 70px;
    }
}


@media (max-width:520px) {
    h1 {
        font-size: 55px;
    }
    .header__numbers {
        display: block;
        column-count: 2;
    }

    /* .ico3 {
        width: 100px;
        height: 100px;
    } */

    .about__info {
        padding: 0 0 20px;
    }

    .about__ico-2 {
        right: -20px;
    }

    .about__numbers {
        gap: 0;
        justify-content: space-between;
    }

    .design__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .design__item-block {
        max-width: 100%;
    }

    .design__title {
        padding-left: 0;
        font-size: 35px;
    }

    .design__title::before {
        top: -30px;
        left: auto;
        right: 0;
    }

    .portfolio__title {
        margin-left: 0;
    }

    .portfolio__img {
        display: none;
    }

    .portfolio__link-item {
        font-size: 25px;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .feedback {
        margin-top: 50px
    }

    .feedback__text {
        font-size: 20px;
    }

    .contacts__text {
        font-size: 50px;
    }

    .feedback__ico {
        display: none;
    }

    .update__info {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}

@media (max-width:390px){
.header__right-bottom {
    flex-direction: column;
    align-items: start;
    }

    .brands {
        justify-content: space-between;
        padding:20px 40px;
        margin-top: 20px;
    }

    .brand__img {
        max-width: 80px;
    }

    .about__information {
        margin-top: 50px;
    }

    .about__ico-1 {
        max-width: 100px;
    }

    .about__ico-2 {
        max-width: 100px;
        top: -40px;
    }

    .about__numbers {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .design__text {
        margin-bottom: 0;
    } 

    .contacts__item {
        padding: 50px 0;
        text-align: center;
    }

    .contacts__text { 
        font-size: 45px;
    }

    .contacts__btn {
        width: 200px;
        height: 200px;
    }

    .feedback__text {
        font-size: 17px;
    }

    .update__link {
        font-size: 26px;
    }

    .footer__information {
        padding: 30px 20px 10px;
    }

    .footer__link {
        display: block;
        margin-bottom: 5px;
    }
}
