
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #aaa;
    background-color: #181818;
}

/* main {
    position: relative;
}

.line1 {
    content: '';
    background: rgba(255, 255, 255, 0.05);
    width: 1px;
    height: 100%;
    position: absolute;
    top: -90px;
    left: 100px;
}
.line2 {
    content: '';
    background: rgba(255, 255, 255, 0.05);
    width: 1px;
    height: 100%;
    position: absolute;
    top: -90px;
    left: 500px;
    z-index: 0;
}
.line3 {
    content: '';
    background: rgba(255, 255, 255, 0.05);
    width: 1px;
    height: 100%;
    position: absolute;
    top: -90px;
    right: 500px;
}
.line4 {
    content: '';
    background: rgba(255, 255, 255, 0.05);
    width: 1px;
    height: 100%;
    position: absolute;
    top: -90px;
    right: 100px;
} */

a {
    color: #fff;
    text-decoration: none;
}

.header {
    background-color: #111;
    color: #fff;
}

.header__top {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 100px 20px;
    gap: 30px;
    position: relative;
    z-index: 2;
}


.header__text {
    position: relative;
    max-width: 470px;
}

.icon1 {
    position: absolute;
    top: -30px;
    left: -30px;
}
.icon2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

h1 {
    font-size: 100px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}

.header__subtitle {
    color: #CCC;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 20px 0 50px;
    
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.scroll__btn {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 3.5px;
    color: #fff;
    display: block;
    margin: 0 auto;
}

.scroll__arrow {
    transform: rotate(180deg);
}

.header__right {
    background-color: #222;
}

.header__right-top {
    display: flex;
    align-items: center;
}

.header__imagen {
    position: relative;
}

.ico3 {
    position: absolute;
    top: 35%;
    left: -70px;
}

.header__numbers {
    padding: 55px 35px 0 20px;
    display: flex;
    flex-direction: column;
}

.header__number-item {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.header__number-name {
    font-size: 40px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 150%;
}

.header__number-text {
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
}

.header__man-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    margin-right: -15px;
}

.header__man-img:hover {
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
}

.header__right-bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0 20px 30px;
}
.header__man-text {
}
.header__man-name {
    display: block;
    padding-bottom: 5px;
}
.header__man-subtitle {
    color: #ccc;
    font-size: 15px;
    font-weight: 500;
}

.brands {
    max-width: 1000px;
    margin: 50px auto 0 ;
    padding: 0 15px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.about__information {
    position: relative;
    margin-top: 90px;
}

.about__information::after {
    content: url(img/about-ico3.svg);
    position: absolute;
    top: 0;
    right: 20px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.subtitle {
    color: #888;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 2.1px;
}

.title {
    color: #FFF;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 135%;
}

.about__info {
    display: flex;
    gap: 70px;
    margin-top: 30px;
    position: relative;
    padding-bottom: 190px;
}

.about__left {
    position: relative;
}

.about__ico-1 {
    position: absolute;
    left: -30px;
    bottom: -15px;
}

.about__ico-2 {
    position: absolute;
    top: -70px;
    right: -70px;
    z-index: -1;
}

.about__img {
    /* max-width: 100%; */
}

.about__right {

}

.about__text {
    margin-bottom: 50px;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.link {
    position: relative;
    padding-left: 10px;
    float: right;
}

.link::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #333;
    left: -10px;
    top: -20px;
    z-index: -1;
} 

.about__numbers {
    display: flex;
    padding: 50px 60px;
    gap: 120px;
    background-color: #333;
    position: absolute;
    bottom: 100px;
    right: 30%;
}

.about__numbers-name {
    color: #FFF;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 175%;
}

.about__numbers-text {
    font-size: 15px;
    font-family: Poppins;
}

.design__information {
    padding: 85px;
    background-color: #222;
}

.design__info {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 0 20px;
    
}

.design__title {
    /* padding-left: 10px ; */
    font-size: 50px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 135%;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    position: relative;
    text-align: right;
    z-index: 1;
}

.design__title::before {
    content: url(img/design-ico1.svg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.design__title-2::before {
    content: url(img/design-ico2.svg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.design__title-3::before {
    content: url(img/design-ico3.svg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.design__title-span {
    color: #fff;
}

.design__item {
    max-width: 350px;
    /* text-align: center; */
}

.design__text {
    margin: 20px 0 15px;
}

.design__list {
    list-style-type: disc;
}

.design__list__item {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 190%;
}


@keyframes ico3 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.ico3{
  animation: ico3 10s linear 0s infinite;
}

/* @keyframes head__text {
    from {transform: translateX(-100%);
    opacity: 0;}
    to {transform: translateX(0%);
    opacity: .5;}
}

.header__top {
    animation: head__text 2s linear;
}

@keyframes about_anim {
    from {transform: translateX(-100%);
        opacity: 0;}
        to {transform: translateX(0%);
        opacity: .5;}
}

.about__information {
    animation: about_anim 2s;
} */

.portfolio__information {
    margin-top: 100px;
}


.portfolio__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    position: relative;
}

.portfolio__title::after {
    content: url(img/portfolio-ico.svg);
    position: absolute;
    bottom: 0;
    right: 0;
}

.portfolio__link {
    float: left;
    margin-top: 50px;
}

.portfolio__info {
    margin-top: 100px;
    position: relative;
}

.portfolio__link-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 135%;
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: .3s;

}

.portfolio__item {
}

.portfolio__link-item::before {
    content: '01.';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    color: #ccc;
    font-weight: 300;
}

.portfolio__link-item:hover  {
    
} 


.portfolio__link-item-2::before {
    content: '02.';
}
.portfolio__link-item-3::before {
    content: '03.';
}
.portfolio__link-item-4::before {
    content: '04.';
}

.portfolio__img {
    position: absolute;
    top: 20%;
    right: 100px;
}

.contacts__information {
    margin: 350px 0 100px;
    position: relative;
}

.contacts__info {
    
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 60px 50px;
    background-color: #222;

}



.contacts__bg {
    background-image: url(img/contacts.jpg);
    width: 1100px;
    height: 100%;
    position: absolute;
    background-size: cover;
    right: 0;
    top: -200px;
    z-index: -1;
    object-position: right;
}

.contacts__text {
    color: #FFF;
    font-size: 60px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 135%;
    max-width: 660px;
}

.contacts__text span {
    color: #E3B27D;
}
.contacts__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #E3B27D;
    border-radius: 50%;
}

.ourteam__information {
    margin-top: 100px;
}

.mySwiper {
    margin-top: 50px;
}

.swiper-wrapper {
    position: relative;
    margin-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    
}


.swiper-slide {
    /* max-width: 60%; */
}

.swiper-button-next {
    content: url(img/next__btn.svg);
    top: 25px;
    width: 50px;
}

.swiper-button-prev {
    content: url(img/prev__btn.svg);
    position: absolute;
    left: auto;
    top: 25px;
    right: 70px;
    width: 50px;
}

.swiper-pagination {
    display: block;
}


.swiper-pagination {

    
    display: flex;
    /* position: absolute; */
    bottom: -20px;
    text-align: center;
    justify-content: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.swiper-pagination-bullet {
    content: url(img/paginator.svg);
    /* width: 100%; */
}

.swiper-pagination-bullet-active {
    content: url(img/paginator-active.svg);
    width: 13px;
    background-color: transparent;
}

.ourteam__text {
    margin-top: 10px;
}

.ourteam__name {
    display: block;
    color: #fff;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 144%;
}

.ourteam__subtitle {
    display: block;
    color: #888;
    font-size: 13px;
    font-weight: 500;
    line-height: 145%;
}

.feedback {
    margin-top: 100px
}

.feedback__text {
    color: #FFF;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 160%;
}

.feedback__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-slide-feedback {
    width: 100%;
}

.feedback__item-block {
    display: flex;
    gap: 20px;
    align-items: center;
}

.feedback__name  {
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 160%;
}

.feedback__subtitle {
    color: #E3B27D;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    padding-top: 5px;
}

.feedback__text-block {
    position: relative;
}

.feedback__text {
    padding-left: 30px;
}

.feedback__text-block::before {
    content: '';
    height: 70%;
    width: 3px;
    background-color: #E3B27D;
    position: absolute;
}

/* .feetback__text-block::after {
    content: url(img/feetback-line.svg);
    position: absolute;
    bottom: -40px;
    max-width: 100%;

} */

.feedback__line  {
    max-width: 100%;
    margin-top: 15px;
}

.feedback__info {
    margin-top: 40px;
}

.swiper-pagination1 {
    display: none;
}

.updates__information {
    margin-top: 70px;
}

.update__info {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 200px;
    row-gap: 70px;
}

.update__item {
}

.update__subtitle {
    color: #888;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
}
.update__date {
    color: #E3B27D;
}

.update__link {
    display: block;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 135%;
}

.footer__information {
    padding: 115px 165px 20px;
    background-color: #111;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__left {
    max-width: 350px;
}

.footer__text {
    margin-bottom: 40px;
}

.footer__btn {
    padding: 10px 15px;
    background-color: #E3B27D;
}

.tel__ico {
    padding-right: 10px;
}

.footer__right-item {
    display: flex;
    gap: 50px;
}

.footer__name {
    color: #FFF;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.footer__bottom {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer__bottom::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #AAA;
    top: -20px;
}
.footer__item {
    color: #AAA;
    font-size: 15px;
    font-weight: 500;
    line-height: 182.5%;
}

.footer__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: #AAA;
    padding-right: 40px;
    font-size: 13px;
}

.footer__link:last-child {
    padding-right: 0;
}

a {
    transition: .5s;
}

a:hover {
    color: #E3B27D;
}

.swiper-slide {
    transition: .5s;
    padding-bottom: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #E3B27D;
    z-index: 5;
    transition: 1s ease-in;
    /* position: relative; */
}

.modal4 {
    position: absolute;
    left: 35%;
}

.close {
    position: absolute;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 25;
    top: 10px;
    right: 60px;
    font-size: 70px;
    cursor: pointer;
}

@keyframes modal__item {
    
}

.myModal {
    height: auto;
}

.modal__content {
    background-color: #111;
    margin: 0;
    padding: 0;
    /* border: 1px #aaa; */
    display: flex;
    align-items: inherit;
    transition: 1s;
}
/* .swiper-pagination {display: none;} */

.ourteam-img {
    max-height: 100%;
}

.modal__content:hover {
    
}

.swiper-wrapper {
    padding: 0;
}

.swiper-pagination-bullets {
    padding: 0;
    margin: 0;
}

.modal {
    background-color: #E3B27D;
    transition: 2s ease-in;
}

.modal__content {
    position: absolute;
    transition: 2s;
    border: 1px #E3B27D;
    background-color: #E3B27D;
transition: 1s;}

.ourteam__text-modal {
    padding: 30px;
    height: 100%;
    transition: 1s;
    background-color: #333;
}

.ourteam__subtitle-zoom {
    padding: 20px 0;
}

.lop {
    padding-top: 1500px;
}

@keyframes lop {
    from {transform:scale(1.2);
        opacity: 0;
    }
    
    to {transform: scale(1);
        opacity: 1;
    }
    }

.modal {
    animation: lop 1s;
    background-color: #AAA;
}
.modala {
    animation: lop 1s;
    background-color: #AAA;
}

.ourteam__text-modal

[data-aos^=zoom][data-aos^=zoom].aos-animate {
    padding: 300px;
}

/* .ourteam__text-modal2

[data-aos^=zoom][data-aos^=zoom].aos-animate {
    padding: 300px;
} */


